.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  /* 674 x 480 */
  width: 168px;
  height: 120px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  margin-top: 15px;
  font-size: large;
}

.Authors {
  position: fixed;
  right: 0;
  bottom: 0;
}

.Fingers {
  position: fixed;
  left: 0;
  bottom: 0;
}
.Fingers-img {
 /* 2578 x 1027 */
  width: 429px;
  height: 171px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Challenge, .Answers, .Historical {
  font-size: 30px;
  font-family: monospace;
  width: 400px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  padding-left: 25px;
}

.Challenge {
  margin-top: 30px;
}

.Answers {
  margin-top: 15px;
  color: #21f911;
  background-color: #000000;
  border-bottom: 3px double white;
}

.Historical {
  color: #21f911;
  background-color: #444444;
}

.Key.Error {
  /* position: relative; */
}

.Key.Error::before {
  color: #f92111;
  content: '.';
  position: absolute;
  margin-top: 9px;
}

.Caret {
  color: #ffcc88;
}